.museum-card {
    border: 1px solid black;
    background: #C4C4C4;
    padding: 30px 44px;
    height: 100%;
}

.museum-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

}


.museum-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

}
