.App {
  text-align: center;
    width: 100%;

}

header {
    background: #C4C4C4;
    padding: 22px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > .title{
    font-family: 'Sevillana';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;

    color: #000000;
}
.header-tab {
    margin: 0 27px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    display: inline-block;
}

.header-tab.active-header-tab{
    font-weight: 700;
    text-decoration-line: underline;
}

nav{
    padding: 20px 0;
    text-align: start;
}
.breadcrumps {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}

